{% extends "ripplebase.html" %}
{% load render_bundle from webpack_loader %}
{% load static from staticfiles %}

{%  block theme %}
<script src="/api/session"></script>
<script {% if user.is_staff %}src="/api/assets_admin?module=main"{% else %}src="/api/assets?module=main"{% endif %}></script>
{%  endblock %}

{% block main %}
<div
    id="MainApp"
    data-ga-account-id="{{ GA_ACCOUNT_ID }}"
    data-static-url="{% static '' %}"
    data-site-url="{{ SITE_URL }}"
    data-debug="{{ DEBUG }}"
></div>
{% render_bundle 'MainApp' 'js' %}
{% endblock %}
