
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,800,700,900);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,200,300,500,600,800,700,900);

$primary:       rgb(152, 29, 151);

$font-family-sans-serif: 'Raleway',"Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: 'Raleway',Georgia, "Times New Roman", Times, serif;
$font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base: $font-family-sans-serif;

$font-size-base:  0.7rem;

$btn-border-radius: 22px;
$btn-border-radius-lg: 28px;
$btn-border-radius-sm: 18px;

@import "bootstrap/scss/bootstrap.scss";


h1 { line-height: 120%; font-weight: 600 ; font-size: 34pt }
h2 { line-height: 120%; font-weight: 600 ; font-size: 22pt }
h3 { line-height: 130%; font-weight: 500 ; font-size: 14pt }
h4 { line-height: 120%; font-weight: 400 ; font-size: 12pt }
h5 { line-height: 120%; font-weight: 600 ; font-size: 11pt }
h6 { line-height: 120%; font-weight: 600 ; font-size: 10pt }

@media only screen and (max-width: 768px) {
    h1 { line-height: 120%; font-weight: 600 ; font-size: 24pt }
    h2 { line-height: 120%; font-weight: 600 ; font-size: 16pt }
}

@media only screen and (max-width: 450px) {
    h1 { line-height: 120%; font-weight: 600 ; font-size: 21pt }
    h2 { line-height: 120%; font-weight: 600 ; font-size: 14pt }
}

html {
    width: 100vw;
}

.modal-content, .ripple-gradient {
    background: -moz-linear-gradient(135deg, rgba(163,232,213,0.9) 0%, rgba(152,29,151,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(152,29,151,1)), color-stop(100%, rgba(163,232,213,0.9))); /* safari4+,chrome */
    background: -webkit-linear-gradient(135deg, rgba(163,232,213,0.9) 0%, rgba(152,29,151,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(135deg, rgba(163,232,213,0.9) 0%, rgba(152,29,151,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(135deg, rgba(163,232,213,0.9) 0%, rgba(152,29,151,1) 100%); /* ie10+ */
    background: linear-gradient(315deg, rgba(163,232,213,0.9) 0%, rgba(152,29,151,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#981D97', endColorstr='#A3E8D5',GradientType=0 ); /* ie6-9 */
    color: white;
}

.modal-dialog {
  max-width: 600px;
}

.modal-title.h4 {
  line-height: 120%; font-weight: 400 ; font-size: 12pt
}

label {
  margin: 0;
  margin-top: 2px;
}

.footerLink:hover {
    color: #F5E20F;
    cursor: pointer;
}

.footerLink {
    text-decoration: underline;
}

.footerLink.active {
    color: #F5E20F;
    text-decoration: none;
}

a.active.nav-link {
    color: #981d97 !important;
    background-color: #ffffff !important;
    border-bottom-color: #f5e20f !important;
    border-bottom-width: 5px !important;
    border-bottom-style: solid !important;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}